/* CUSTOM STYLES */
nav {
  width: 100%;
  background-color: #555;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}

nav a:hover {
  color: black;
}

.card-title{
  margin-bottom: 0 !important;
}

.footer {
  background-color: #555;
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
}

/* DEFAULT STYLES */
.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

body{
  background-color: green !important;
  padding-bottom: 40px;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#userprofile{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 10px;
  border: 5px solid white;
}

#username{
  font-size: 35px;
}

.profile-info {
  margin: 5px;
  border-radius: 10px;
}

.profile{
  margin-top: 30px;
}

.profile-todo {
  height: 500px;
  width: 200px;
}

#card-body {
  margin: 8px;
  border-radius: 10px;
}

#new-task {
  align-content: center;
  margin: 10px 65px 0 0;
  color: white;
}

.board-columns {
  height: 70vh;
  width: 15vw;
  background-color: white;
  margin-top: 40px;
  border-radius: 10px;
  overflow-y: scroll;
}

.column-name {
  padding-top: 10px
}

.tasks{
  border: 1px solid black;
  margin-top: 10px;
}
.subinfo{
  margin-left: 40px;
  text-align: initial;
}

#displayProjects{
  height: 500px;
  overflow-y: scroll;
}

#adminprojectpic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#userabout{
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
}

#modifyicon{
  position: absolute;
  right: 0;
  margin-right: 15px;
  margin-bottom: 10px;
}

#deleteicon{
  position: absolute;
  left: 0;
  margin-left: 15px;
  margin-bottom: 10px;
}

.coding-img {
  width: 45vw;
  height: 40vh;
  margin: 70px;
}

.home-info {
  text-align: center;
  width: 50vw;
  margin: 10px;
  color: #222;
}


.home-page {
  display: inline-flex;
  margin: 10px;
}

.sign-in {
  margin: 50px;
  text-align: center;
}

.your-sprints {
  background-color: white;
  border-radius: 10px;
}

.tasktools{
  margin-top: 10px;
}

#usertask{
  width: 3vw;
  height: 5vh;
  border-radius: 50%;
  border: 2px solid black;
}

.taskInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainTask{
  margin-top: 10px;
}
